.header-confirmation-seller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  background: #80A2A9;
  border-radius: 0px 0px 20px 20px;
  flex-direction: row;
}
.header-confirmation-seller__text-header {
  margin-left: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-confirmation-seller_text-role {
  margin-right: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-confirmation-seller {
  margin-top: 253px;
  display: flex;
  justify-content: center;
}
.container-confirmation-seller-border-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 641px;
  height: 425px;
  background: #80A2A9;
  backdrop-filter: blur(4px);
  border-radius: 5px;
}
.container-confirmation-seller-border-menu__top-line {
  margin-top: 25px;
  width: 601px;
  height: 0px;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.container-confirmation-seller-border-menu__input-id {
  margin-top: 30px;
  width: 433px;
  height: 76.18px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
}

.container-confirmation-seller-border-menu-buttons {
  display: flex;
  margin-top: 37px;
}
.container-confirmation-seller-border-menu-buttons__accept {
  cursor: pointer;
  font-size: 30px;
  margin-right: 25px;
  width: 271px;
  height: 76px;
  background: #F0D3C1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.container-confirmation-seller-border-menu-buttons__reject {
  cursor: pointer;
  font-size: 30px;
  margin-left: 25px;
  width: 271px;
  height: 76px;
  background: #C16471;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.container-confirmation-seller-border-menu__exit-button {
  cursor: pointer;
  font-size: 30px;
  margin-top: 35px;
  width: 271px;
  height: 76px;
  background: #C16471;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.container-confirmation-seller-border-menu__bottom-line {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 601px;
  height: 0px;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}