* {
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
button,
input {
  border: 0;
}
input::placeholder {
  font-weight: 100;
}
.border-login input {
  font-size: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
  width: 471px;
  height: 82.17px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.border-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 561px;
  height: 717.28px;
  background: #80A2A9;
  backdrop-filter: blur(4px);
  border-radius: 5px;
}
.border-login__line-top {
  margin-top: 25px;
  margin-bottom: 17px;
  width: 521px;
  height: 0px;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.border-login__text {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bolder;
}
.border-login__button-login {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 87px;
  margin-bottom: 34px;
  width: 301px;
  height: 83.39px;
  background: #F0D3C1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.border-login__button-login p {
  font-style: normal;
  font-size: 36px;
  line-height: 41px;
  color: #000000;
}
.login-border__button-signIn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 79.76px;
  background: #C16471;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.login-border__button-signIn p {
  font-style: normal;
  font-size: 30px;
  line-height: 34px;
  color: #000000;
}
.border-login__line-button {
  margin-top: 25px;
  margin-bottom: 17px;
  width: 521px;
  height: 0px;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}